{% load socialaccount %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> {% endcomment %}

    <title>Google Registration</title>
  </head>
  <body>
  <div class="alert alert-primary text-center" role="alert">
<h2>This is Page to redirect you to Google Login!</h2>
<h3>Thank you!</h3>
</div>
   <hr>
  {% if user.is_authenticated %}
  <p>You are already logged in as {{ user.username }} !</p>
  <button type="submit" > <a href="/viewfile">PLease click here to view the notes repository</a></button>
 
  {% else %}
 <div class="alert alert-danger" role="alert" align= "center" style= "background-color: aqua; border = 2px solid black;" padding = "50px">
   <a href="{% provider_login_url 'google' %}" class="alert-link">Login with Google Accounts.</a>
</div>
  {% endif %}
  </body>
</html>