<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
</head>
<body>
    <div class="container">
        <h2 align="center">Grow your Repository of Notes!</h2>
        <hr>
        <div class="container-fluid">
            
                    <form action="/upload" method = "post" enctype = "multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label> Name </label>
                            <input type="text" class="name" name = "name">
                        </div>
                        <div class="form-group">
                            <label for=""> Description: </label>
                            <input type="text" id= "description" name = "description">
                        </div>
                        <div class="form-group">
                            <label for="">Notes File: </label>
                            <input type="file" id="file" name = "file">
                        </div>
                        <button>submit</button>

                    </form>
                
            
        </div>
        <hr>
    </div>
</body>
</html>